<comment>
<div class="comment-main<%= " comment-admin" if comment.by_admin? %>" id="c<%= comment_num = comment_number%>">
<div class="comment-info">
  <div class="comment-icon">
    <%= gravatar_for comment.email%>
  </div>
<div class="comment-name">
  <% if admin? %>
    <%= link_to comment.name,"mail-to:#{comment.email}"%>
  <% else %>
    <%=comment.name%>
  <% end%>
</div>
</div>
<div class="comment-body">
  <span class="comment-number">#<%=comment_num %></span>
  <br />
  <div class="comment-content">
      <%= sanitize comment.body%>
  </div>
  <br />
  <span class="comment-time"><%= format_date comment.created_at%></span><br />
</div>
<% if admin?%>
  <%= link_to 'delete',[comment.post,comment],method: :delete,confirm: "You sure?",class:"comment-delete"%>
<% end%>
</div>
<br />
<hr />
</comment>
