<div class="comment-form">
<% if @comment && @comment.errors.any?%>
  <div class="alert alert-error">
    <ul>
      <% @comment.errors.full_messages.each do |m| %>
        <li><%=m%></li>
      <% end%>
    <ul>
  </div>
<% end%>
<%= form_for [@post,@post.comments.build] do |f| %>
  <%= f.label :name,'昵称:' %>
  <% if admin? %>
    <%= f.text_field :name,value: current_user.name %>
  <% else %>
    <%= f.text_field :name %>
  <% end %>
  <br />
    <%= f.label :email %>
  <% if admin? %>
    <%= f.text_field :email,value: current_user.email %>
  <% else %>
    <%= f.text_field :email %>
  <% end%>
  <br />
  <p>
  <%= f.label :body,'评论:'%><br />
  <%= f.text_area :body,class: "comment-form-body"%>
  </p>
  <%= f.submit%>
<% end%>
</div>
