<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag gravatar_url_for(admin_user.email)%>
</head>
<body class="body-style">
<%= render 'layouts/header'%>

<div class="container">
  <% flash.each do |key,value|%>
    <%=content_tag :div,value, class: "alert alert-#{key}"%>
  <% end%>
  <div id="main" class="row">
    <div class="content span8">
      <%=yield %>
    </div>
    <div class="span3 offset1">
      <%= render 'layouts/info' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer'%>
</body>
</html>
